---
import { Palette } from 'lucide-react';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col p-4">
    <div class="text-center flex flex-col gap-1">
      <h1 class="text-primary flex items-center justify-center gap-2 font-bold text-4xl tracking-tighter">
        <Palette className='w-14 h-14' />
        Layoutify
      </h1>
      <p class="text-sm text-foreground/60 mx-auto w-full max-w-sm">Look back at the stats community's old layouts. The <a href="https://archive.org" class="text-primary underline underline-offset-4">Wayback Machine</a> of the stats community.</p> 
    </div> 
  </main>
</Layout>

