---
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Image } from "astro:assets";
import type { CollectionEntry } from 'astro:content';

interface Props {
  layout: CollectionEntry<"layouts">
}

const { layout } = Astro.props;
const lastImage = [...layout.data.images].reverse()[0];
---

<li>
  <a href={layout.id.split("/")[0]}>
    <Card>
      <CardHeader>
        <CardTitle>{layout.data.name}</CardTitle>
      </CardHeader>
      <CardContent>
        <Image src={lastImage.image} alt="" class="rounded-lg" />
      </CardContent>
      <CardFooter className="text-sm text-muted-foreground flex-col items-start">
        <p>Started: {layout.data.started}</p>
        <p>Last updated: {lastImage.time}</p>
      </CardFooter>
    </Card>
  </a>
</li>
